	<body>
		<section id="title_area">
			<div>
				<h1>〇〇〇〇〇〇〇〇は東京都〇〇区の賃貸・売買物件をご紹介しております！</h1>
				<span class="menu_btn">MENU</span>
				<ol>
					<li class="bukken"><a href="#">最近見た物件</a></li>
					<li class="list"><a href="#">検討リスト</a></li>
				</ol>
				<ul class="menu">
					<li><a href="#">ホーム</a></li>
					<li><a href="#">物件検索</a></li>
					<li><a href="#">店舗案内</a></li>
					<li><a href="#">お客様の声</a></li>
					<li><a href="#">スタッフ紹介</a></li>
					<li><a href="#">お問い合わせ</a></li>
					<li><a href="#">求人情報</a></li>
					<li><a href="#">プライバシーポリシー</a></li>
					<li><a href="#">利用規約</a></li>
					<li><a href="#">サイトマップ</a></li>
				</ul>
			</div>
		</section>
		<header>
			<div>
				<h2><a href="#">〇〇〇〇〇不動産</a></h2>
				<dl>
					<dt><span>○○店</span>03-0000-0000</dt>
					<dd>
						<p>総合窓口 本部　<strong>0120-000-000</strong></p></dd>
					<dd>営業時間 00:00～00:00 │ 定休日 ○曜</dd>
				</dl>
			</div>
		</header>
		<nav>
			<div>
				 <ul>
					<li><a href="#">ホーム</a></li>
					<li><a href="#">物件検索</a></li>
					<li><a href="#">店舗案内</a></li>
					<li><a href="#">お客様の声</a></li>
					<li><a href="#">スタッフ紹介</a></li>
					<li><a href="#">お問い合わせ</a></li>
				</ul>
			</div>
		</nav>
		<section id="main_area">
			<div class="flexslider">
			</div>
		</section>
		<section id="contents_area">
			<article>
				申し訳ございません。お探しのページは存在しません。
			</article>
		</section>
		<section id="link_area">
			<div>
				<ul>
					<li><a href="#">求人情報</a></li>
					<li><a href="#">プライバシーポリシー</a></li>
					<li><a href="#">利用規約</a></li>
					<li><a href="#">サイトマップ</a></li>
				</ul>
				<span><a href="#title_area">ページ上部へ戻る</a></span>
			</div>
		</section>

	</body>
</html>
