<!DOCTYPE html>
<html lang="ja" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>〇〇〇不動産</title>
	<meta name="description" content="テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト">
	<meta name="keywords" content="キーワード,キーワード,キーワード">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=yes">
	<meta name="format-detection" content="telephone=no">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script>
	$(window).load(function() {
	  $('.flexslider').flexslider({
		animation: "fade",
		slideshow: true,
		directionNav: false
	  });
	});
	</script>
  </head>

  <body>
	<%= yield %>

	<footer>
	  <div>
		<dl>
		  <dt>〇〇〇〇〇不動産<dt>
		  <dd>東京都知事 (1) 第00000号<br>〒000-0000　<br class="pc_none">東京都〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇<br>TEL 03-0000-0000　　<br class="pc_none">FAX 03-0000-0000</dd>
		  <dd>Copyright &copy; ○○○○○不動産., All Rights Reserved.</dd>
		</dl>
	  </div>
	</footer>
  </body>
</html>
